<!DOCTYPE html>
<html>
<head>
  <title>Pilou</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
    </head>
 <body>
    <div id="container">
    	<div "linked">
    		<a href="/">Accueil</a>
    		<a href="/contact">Contact</a> 
    		     
     			<div id="devisi" align="right" >  <% if user_signed_in? %>
          Signed in as <%= current_user.email %>. Not you?
          <%= link_to "Déconnextion", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to "Inscription", new_user_registration_path %> or <%= link_to "Déja inscrit?", new_user_session_path %>
        <% end %>
      </div></div>
        <%= yield %>
    </div>
  </body>
</html>
